<header>
    <img [src]="imagePath"/> <!--property Binding-->
    <div class="container">
        <a routerLink="/" class="logo">{{appTitle}}</a>
        <nav>
            <ul>
                <li><a routerLink="/">Home</a></li> <!--routing diff components-->
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">contact</a></li>
                <li><a routerLink="/team">team</a></li>
                <li><a routerLink="/utility">utility</a></li>
                <li><a routerLink="/employee">employee</a></li>
            </ul>
        </nav>
    </div>
</header>